@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container > h1 {
  text-align: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btn-generate {
  background-color: aquamarine;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-generate:hover {
  transform: scale(1.1);
}

.btn-generate:active {
  transform: scale(1);
}

.cpf-content {
  text-align: center;
  color: blueviolet;
}

@media (max-width: 520px) {
  .row-container {
    flex-direction: column;
    justify-content: center;
  }

  .btn-generate {
    height: 40px;
  }

  .cpf-content {
    margin-top: 20px;
  }
}